.energy-page-container{
  margin-top: 60px;
  margin-left: 100px;
  margin-right: 50px;
  display: flex;
}
.left-energy-container{
  padding: 20px;
  width: 60%;
}
.right-energy-container{
  padding: 20px;
  width: 40%;
  height: 77vh;
  background-color: #F9FAFC;
}
.energy-consumption-past-days{
  height: 8rem;
  background-color: lightgray;
}
.energy-consumption-today{
  margin-top: 2rem;
  height: 10rem;
}
.where-money-goes{
  height: 10rem;
  background-color: yellowgreen;
}
.energy-tips{
  margin-top: 6rem;
  height: 10rem;
  background-color: mediumpurple;
}

