
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;900&display=swap');


.energy-page-container{
  margin: auto;
  display: flex;
  max-width: 1600px;
  position: relative;
}
.left-energy-container{
  position: relative;
  padding: 20px;
  width: 60%;
  margin-bottom: 170px;
}
.right-energy-container{
  padding: 20px;
  width: 40%;
  height: 137vh;
  background-color: #F9FAFC;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.energy-consumption-past-days{
  height: 8rem;
  background-color: lightgray;
}

.energy-consumption-today{
  margin-top: 2rem;
  height: 10rem;
}

.where-money-goes{
  padding: 0 20px;
  
  h2 {
    margin: 30px 0;
  }
}

.progress-bar {
  height: 7px;
  width: 90%;
  background-color: #53D7D7;
}

.stats-container {
  display: flex;
  justify-content: flex-start;


  .stat-box {

    margin-right: 5px;
    background-color: #EDF0F6;
    // padding: 10px 10px 10px 10px;
    width: 25%;

    border-radius: 5px;
    line-height: 2;
    text-align: center;

    .stat-price {
      font-weight: bold;
      @media screen and (max-width: 1300px) {
        font-size: 12px;
      }
    }
  }

  .stat-icon {
    padding: 16px 0;
    font-size: 18px;
    @media screen and (max-width: 1300px) {
      font-size: 12px;
    }
    background-color: #F9FAFC;;
  }
  
  .stat-value {
    font-size: 25px;
    @media screen and (max-width: 1300px) {
      font-size: 14px;
    }
  }
}

.stripes-dark-right-top {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
  @media screen and (max-width: 1300px) {
    width: 150px;
  }
}

.stripes-blue-left-energy-page {
  position: absolute;
  top: calc(100% - 198px);
  z-index: 3;
  left: 0;
  @media screen and (max-width: 1300px) {
    top: calc(100% - 144px);
    width: 150px;
  }
}

.tips-box {
  background-color: #EDF0F6;
  font-family: 'Poppins', sans-serif;
  border-radius: 25px;
  margin: 7vh 2vw;
  display: flex;
  flex-direction: column;
  padding: 8vh 2vw 0vh 2vw;

  .icons {
    display: flex;
    justify-content: space-between;
    transform: translateY(-60%);
  }

  .save-energy-icon {
    height: 150px;
    width: 159px;
  }

  .plant-icon {
    height: 118px;
    width: 83px;
  }

  .tips-info {
    transform: translateY(-60px);
  }

  .tip-header {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    transform: translateY(-60%);
  }

  .tip-text {
    color: #404852;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 100px;
    
  }

  .tip-button {
    color: white;
    background: #101010ed;
    padding: 18px 0;
    width: 100%;
    border: none;
    border-radius: 7px;
    text-decoration: none;
    &:hover {
      background: #101010fb;
      transition: background .1s color .1s;
      color: rgb(26 216 216);
    }
  }
}


