.home-page-container {
    background: white;
}
.title-banner {
    background: linear-gradient(0deg, rgba(74,153,211,0) 30%, rgba(74,153,211,0.1839622641509434) 100%);
    padding: 70px 100px 100px 150px;
    display: flex;
    box-shadow: 0 0 20px rgba(0, 140, 255, 0.20);
}

.left-box {
    margin-top: 50px;
    margin-right: 50px;
}

.title-parag {
    color: #28CDCD;
    font-size: 50px;
    margin: 20px 0;
    font-weight: bold;
    line-height: 50px;
}

.house-img {
    width: 350px;
}

.small-banner {
    background-color: rgb(74,153,211, .1);
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;
}

.small-title {
    font-size: 35px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin: 55px 0;
}

.small-box {
    text-align: center;
    width: 33.33%;
    padding: 0 1vw;
}

.small-icon {
    width: 50px;
}

b {
    line-height: 2;
}

.info-container {
    position: relative;
}

.stripes-dark-right-top {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.stripes-dark-right-bottom {
    position: absolute;
    right: 0;
    top: 70%;
    z-index: 0;
}

.stripes-blue-left {
    position: absolute;
    right: 84%;
    top: 70%;
    z-index: 0;
}

.items {
    padding: 40px 300px;
    display: flex;
    flex-wrap: wrap;
}

.text {
    font-size: 25px;
    width: 40%;
    font-weight: bold;
    line-height: 1.1;
}