.home-page-container {
    background: white;
}
.title-banner {
    background: linear-gradient(0deg, rgba(74,153,211,0) 30%, rgba(74,153,211,0.1839622641509434) 100%);
    padding: 70px 100px 100px 150px;
    display: flex;
}

.left-box {
    margin-top: 50px;
    margin-right: 50px;
}

.title-parag {
    color: #28CDCD;
    font-size: 50px;
    margin: 20px 0;
    font-weight: bold;
    line-height: 50px;
}

.house-img {
    width: 350px;
}

.small-banner {
    background-color: rgb(74,153,211, .1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 60px;
}

.small-title {
    font-size: 35px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin: 55px 0;
}

.small-box {
    text-align: center;
}

.small-icon {
    width: 50px;
}

b {
    line-height: 2;
}