.daily-reading-container{
  display: block;
  // justify-content: space-between;
  margin-top: 1em;
  padding-left: 5px;
  padding-right: 5px;
}
.daily-reading-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
