#container {
  height: 600px;
  padding: 20px;

  .title {
    font-size: 48px;
    text-align: center;
    color: #28CDCD;
  }

  .info {
    width: 500px;
    text-align: center;
    margin: auto;
  }
}



